folium
geopy
ipykernel
ipython
jupyter
jupyter_sphinx
myst-parser
nbsphinx
nbsphinx-link
numpy
pandas
# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
protobuf~=3.19.0 # fix github test and docu creation

requests
scipy
sphinx>=3.2.1
sphinx_rtd_theme
